<div class="dashboard-main">
    <div class="welcome-header">
      <h1>Dobro došli na IPI-a</h1>
      <p>Izaberite sekciju kojoj želite pristupiti.</p>
    </div>
  
    <div class="main-grid">
      <div class="main-card" routerLink="/profile">
        <div class="card-overlay"></div>
        <div class="content">
          <span class="icon">👤</span>
          <h2>View Profile</h2>
          <p>Pregledaj i uredi svoje lične podatke i odabranu temu.</p>
        </div>
      </div>
  
      <div class="main-card" routerLink="/fun-zone">
        <div class="card-overlay"></div>
        <div class="content">
          <span class="icon">🎮</span>
          <h2>Student Fun Zone</h2>
          <p>Bavi se razonodom: Bingo, Kviz, Whiteboard i Kanban.</p>
        </div>
      </div>
  
      <div class="main-card" routerLink="/trackers">
        <div class="card-overlay"></div>
        <div class="content">
          <span class="icon">📊</span>
          <h2>My Trackers</h2>
          <p>Prati spavanje, ishranu, vodu i tvoj akademski progres.</p>
        </div>
      </div>
    </div>
  </div>